<!--//首页-->
<div class="detail-footer-first">
	<a href="/index.html">
		<img src="/images/kf2.png"/><br/>
		<span>首页</span>
	</a>
</div>
<!--//客服-->
<div class="detail-footer-service">
	<a href="/index.html">
		<img src="/images/kf2.png"/><br/>
		<span>客服</span>
	</a>
</div>
<!--//购物车-->
<div class="detail-footer-cart">
	<a href="/html/cart.html">
		<img src="/images/kf2.png"/><br/>
		<span>购物车</span>
	</a>
</div>
<!--//添加购物车-->
<div class="detail-footer-addcart">
	<button type="button" id="addcart">添加购物车</button>
</div>
<!--立即购买-->
<div class="detail-footer-buynow">
	<button type="button" id="buynow">立刻购买</button>
</div>
