<!--//title-->
<div id="add-box"></div>
<script type="text/html" id="detil-template">
	<h5 class="detail-box-title" id="name">{{product.name}}</h5>
	
	<!--//introduce-->
	<div class="detail-box-int">{{product.introduce}}</div>
	
	<!--price-->
	<div class="detail-box-pric">
		<span id="price">{{product.price}}￥</span>
	</div>
</script>
	
<!--//运费-->
<div class="detail-box-carriage">免运费</div>

<!--//副说明-->
<div class="detail-box-fint">
	<span class="detailed-box-fint1">
		极速达
	</span>
	<span class="detail-box-fint2">该商品为同城配送，最快3小时内可送达</span>
</div>

