<div class="form1-box">
	<!--input-->
	<!--短信-->
	<div class="ac">
		<img src="/images/icon_tel.png"/>
		<input type="text" placeholder="手机号码" id="foPhone" />
	</div>
	
	<!--图文验证-->
	<div class="ac">
		<img src="/images/icon_yzm.png"/>
		<input type="text" placeholder="图文验证码" id="foPic" />
		<a href="#" id="changeImg" >
    		<canvas class="show-captcha" id="canvas" width="150" height="30">
    		</canvas>
		</a>
	</div>
	
	<!--密码-->
	<div class="ac">
		<img src="/images/icon_psw.png"/>
		<input type="password" placeholder="账号密码" id="foKey"/>
	</div>
	
	<!--注册-->
	<button type="button" id="register-btn">注册</button>
	<div class="register-login">
		<a href="#" class="register-login-a1">短信快捷登录</a>
		<a href="#" class="register-login-a2">账号密码登录</a>
	</div>
</div>
