<!--logo-->
<div class="logo"><img src="../../images/logo (1).png"/></div>

<!--nav-->
<nav>
<!--login-->
	<div id="login">
		<div id="before">
			<a href="/html/login.html">登录</a>
			<a href="/html/register.html">注册</a>
		</div>
		<div id="after" class="ac">
			<a href="javascript: ;"id="logout">退出登陆</a>
		</div>
	</div>
<!--list-->
	<div class="list">
		<ul>
			<li>
				<h3>
					<a href="#">首页</a>
				</h3>
				
			</li>
			<li>
				<h3>鲜花订阅</h3>
				<div class="ac">
					<a href="#"><span>缤纷设计</span></a>
					<a href="#"><span>玫瑰之约</span></a>
					<a href="#"><span>轻奢甄选</span></a>
				</div>
			</li>
			<li>
				<h3>礼品鲜花</h3>
				<div class="ac">
					<a href="#"><span>极速达</span></a>
					<a href="#"><span>永生玫瑰</span></a>
					<a href="#"><span>经典玫瑰魔盒</span></a>
				</div>
			</li>
			<li>
				<h3>绿植多肉</h3>
				<div class="ac">
					<a href="#"><span>观赏植物</span></a>
					<a href="#"><span>吸水盆栽</span></a>
				</div>
				
			</li>
			<li>
				<h3>花边小物</h3>
				<div class="ac">	
					<a href="#"><span>手机壳</span></a>
					<a href="#"><span>花瓶</span></a>
				</div>
			</li>
		</ul>
	</div>
</nav>

