#banner{
    width: 100%;
    height: 358px;
    #div1{
        width:100%; height:358px;overflow: hidden; position:relative;
        ul{
            position: absolute;left: 0;top: 0;
            li{
               height:500px;float: left; 
            }
        }
        ol{
           position:absolute;right: 50%;bottom: 10px;z-index:6;
           li{
              width: 12px;height: 12px;background: #fff;margin-left: 5px;float: left;line-height: 20px;text-align: center;cursor: pointer;border-radius: 50%;
              
            } 
            .ac{
                  background: red;color: #fff;
            } 
        }
        a{
            position: absolute;top: 50%;margin-top: -10px;height: 40px;line-height: 32px;text-align: center;width: 40px;font-size: 40px;vertical-align: middle;color: #fff;background: rgba(0,0,0,0.5);z-index:6;
        }
        #goPrev{
            left: 0;
        }
        #goNext{
            right: 0;
        }
        img{
            width:1349px;
        }
    }
}
