.detail-form{
    margin: 0 auto;
    padding: 8px 20px;
    height: 136px;
    width: 600px;
    .detail-form-type{
         span{
                display: block;
                width: 100px;
                height: 32px;
                padding-top: 12px;
                float: left;
                font-size: 14px;
            }
        .detail-form-type1{
            width: 600px;
            height: 32px;
            .detail-form-type1-input{
                float: left;
                width: 500px;
                height: 32px;
                margin-bottom: 8px;
                #detail-form-type1-input1{
                    float: left;
                    margin-left: 14px;
                    margin-bottom: 10px;
                    height: 33px;
                    line-height: 33px;
                    width: 232px;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 14px;
                    text-align: center;
                    input{
                        display: none;
                    }
                }
                #detail-form-type1-input2{
                    float: left;
                    margin-left: 18px;
                    margin-bottom: 10px;
                    height: 33px;
                    line-height: 33px;
                    width: 232px;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 14px;
                    text-align: center;
                    input{
                        display: none;
                    }
                }
            }
        }
        .detail-form-type2{
            float: left;
            width: 600px;
            height: 32px;
            margin-bottom: 8px;
            .detail-form-type2-input{
                float: right;
                width: 500px;
                height: 43px;
                #detail-form-type2-input1{
                    float: left;
                    margin-left: 14px;
                    margin-bottom: 10px;
                    height: 33px;
                    line-height: 33px;
                    width: 232px;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 14px;
                    text-align: center;
                    input{
                        display: none;
                    }
                }
                #detail-form-type2-input2{
                    float: left;
                    margin-left: 18px;
                    margin-bottom: 10px;
                    height: 33px;
                    line-height: 33px;
                    width: 232px;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 14px;
                    text-align: center;
                    input{
                        display: none;
                    }
                }
            }
        }
        #detail-form-nuchange{
            float: left;
            width: 600px;
            height: 32px;
            button{
                float: left;
                border: 1px solid #999999;
                background: #FFFFFF;
                width: 45px;
                height: 33px;
            }
            #detail-form-nuchnage-decrease{
                margin-left: 13px;
            }
            #detail-form-nuchange-number{
                float: left;
                border: 1px solid #999999;
                border-left: none;
                border-right: none;
                width: 138px;
                height: 31px;
                line-height: 31px;
                text-align: center;
            }
        }
      
    }
}
