.title{
    width: 604px;
    height: 125px;
    margin: 40px auto;
    padding-left: 18px;
    padding-right: 18px;
    .title-logo{
        width: 90px;
        height: 90px;
        margin: 0 auto;
        img{
            width: 90px;
            height: 90px;
        }
    }
    .title1{
        padding-top: 13px;
        text-align: center;
        color: #fe7978;
        font-size: 17px;
    }
}
